<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Hello, world!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      span{
        font-size: larger;
      }
      body{
        background-color: black;
      }
      button{
        width: 24%;
        border-radius: 10px;
      }
      .card{
        /*background-image: url("assets/atm.jpg");*/
       
 margin:0px auto ;
 max-width: 50%;
      }
      @media only screen and (min-width : 480px) {
        .card { max-width : 100% }
      }
.col-sm{
  border: 1px solid gray;
}
.abc{
  border: 1px solid whitesmoke;
  border-top: 1px solid blue;
  border-radius: 10px;
}
    </style>
  </head>
  <body>
   
 <div style="text-align: center;">
        <h1 style="color: whitesmoke;">Congratulation!</h1>
     <P style="color: whitesmoke;">you have been approved of<br><span style="color: mediumblue;"><b>RS 10,000/-</b></span> </P>

     <div class="card"  style="width: 18rem; background-color:midnightblue; color: whitesmoke;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: left;">VISA</h5>
        
        <p class="card-text"><b>4451 5487 2112 2584</b></p>
        
        <p href="#" class="card-link">Card Name  &nbsp;&nbsp;  Exp Date <br>
                                          Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08/2024 </p>
   
      </div>
    </div>
    <br>
     <div>

       
      <div class="container"   style="color: white; border-radius: 10px;">
        <div class="row">

          <div class="col-sm m-1 abc"  >
          Pay the bill at the end of the month with no extra cost or convert to EMI's
          </div>
          <div class="col-sm  m-1 abc">
            get 2% chashback on all your transaction using LABR wthout any limit
          </div>
          <div class="col-sm m-1 abc">
           you cna use online transaction
          </div>
          
          </div>
      </div>
  
  </div><br>
  <div>
    <p style="color: blue;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp; <b>how it works?</b></p>
  </div>
    <div>
     <button type="button" style="background-color: blue; color: whitesmoke;"><b>Bump it up</b></button>
     </div><br>
     <div>
     <button type="button" style="color: blue;"><b>proceed</b></button>
     </div>
     <form>
      <input  type="checkbox" id="vehicle1" name="jk" value="color">
      <label for="jk"><span style="color: whitesmoke; font-size: small;">By proceeding, I agree to the </span><span style="color: mediumblue; font-size: small;">Terms of Sanction & Loan Agreement</span></label>
      </form>
  </div>
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>